/*!************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/css/properties.scss ***!
  \************************************************************************************************************************************************************************************************************************************************/
@charset "UTF-8";
/* major breakpoints */
@custom-media --sp (max-width: 767px);
@custom-media --tb (min-width: 768px) and (max-width: 1023px);
@custom-media --tb-h (min-width: 1024px) and (max-width: 1279px);
@custom-media --not-sp (min-width: 768px);
:root {
  --app-height: 100%;
}

@media screen and (min-width: 768px) {
  .properties .aboutMenu {
    width: 27.5vw;
    margin-top: 2.5vw;
    position: sticky;
    top: 6.25vw;
  }
}
@media screen and (max-width: 767px) {
  .properties .aboutMenu {
    height: 10.6666666667vw;
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
}
.properties .aboutMenu a {
  color: #5c583c;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .properties .aboutMenu a {
    font-size: min(1vw, 16px);
  }
}
@media screen and (max-width: 767px) {
  .properties .aboutMenu a {
    font-size: 3.2vw;
  }
}
@media screen and (min-width: 768px) {
  .properties .aboutMenu a {
    margin-left: auto;
    width: 13.9375vw;
    padding-left: 1vw;
    min-height: 3.125vw;
  }
}
@media screen and (max-width: 767px) {
  .properties .aboutMenu a {
    justify-content: center;
    background-color: #e0ddcf;
    min-height: 10.6666666667vw;
    text-align: center;
  }
  .properties .aboutMenu a:not(:first-of-type) {
    border-top: 1px solid #877944;
  }
  .properties .aboutMenu a:last-of-type {
    border-left: 1px solid #877944;
  }
}
.properties .aboutMenu a::before {
  content: "▶︎";
  color: #840e10;
  margin-right: 0.5em;
}
@media screen and (min-width: 768px) {
  .properties .aboutMenu a.-current {
    background-color: #fff;
  }
}
@media screen and (max-width: 767px) {
  .properties .aboutMenu a.-root {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .properties .aboutMenu a:not(.-root) {
    width: 50%;
  }
}
.properties .aboutMenu .aboutMenu__toggle {
  position: absolute;
  top: 2vw;
  right: 3.2vw;
  background-color: #877944;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.6666666667vw;
  height: 6.6666666667vw;
}
.properties .aboutMenu .aboutMenu__toggle::before, .properties .aboutMenu .aboutMenu__toggle::after {
  content: "";
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.properties .aboutMenu .aboutMenu__toggle::before {
  width: 3.2vw;
  height: 0.5333333333vw;
}
.properties .aboutMenu .aboutMenu__toggle::after {
  width: 0.5333333333vw;
  height: 3.2vw;
}
.properties .aboutMenu.-upper.-open .aboutMenu__toggle::after {
  content: normal;
}
.properties .aboutMenu.-upper:not(.-open) a:not(.-root) {
  display: none;
}
.properties .content {
  background-color: #f6f6f2;
}
@media screen and (min-width: 768px) {
  .properties .content {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 3.75vw;
  }
}
@media screen and (max-width: 767px) {
  .properties .content {
    padding-top: 11.4666666667vw;
  }
}
@media screen and (min-width: 768px) {
  .properties .content .aboutContent {
    flex: 1;
  }
}
.properties .content .aboutContent .aboutBlock {
  padding-top: 4.5vw;
  padding-right: 3.5vw;
  padding-bottom: 3.5vw;
  padding-left: 3.5vw;
  border-top: 1px solid #e0ddcf;
  background-color: #fff;
  position: relative;
}
@media screen and (max-width: 767px) {
  .properties .content .aboutContent .aboutBlock {
    padding-top: 11.7333333333vw;
    padding-right: 4.2666666667vw;
    padding-bottom: 7.4666666667vw;
    padding-left: 4.2666666667vw;
  }
}
.properties .content .aboutContent .aboutBlock .block__title {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}
@media screen and (min-width: 768px) {
  .properties .content .aboutContent .aboutBlock .block__title {
    font-size: min(2.25vw, 36px);
  }
}
@media screen and (max-width: 767px) {
  .properties .content .aboutContent .aboutBlock .block__title {
    font-size: 6.6666666667vw;
  }
}
.properties .content .aboutContent .aboutBlock::before {
  content: "";
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAG4AAABKCAYAAABaZmHbAAABQUlEQVR4nO3RIU4CcBiG8RcKB6ADR9BGc7NY3CDR3HQcQBLJGRiJhAdwsNFIECluNpseAWkGz6A3+O8febbnl999X3gav8+vf6nz3Z6Ne6XB5GZ+keSz8t5+eXgalgaL6859klXlvZfp22lSXEyvlkkeK+89ZPG+Lg36d9tdkkHlvcuPzeirNPi5bR2TdGuONSuf6swYDspwUIaDMhyU4aAMB2U4KMNBGQ7KcFCGgzIclOGgDAdlOCjDQRkOynBQhoMyHJThoAwHZTgow0EZDspwUIaDMhyU4aAMB2U4KMNBGQ7KcFCGgzIclOGgDAdlOCjDQRkOynBQhoMyHJThoAwHZTgow0EZDspwUIaDMhyU4aAMB2U4KMNBGQ7KcFCGgzIclOGgDAdlOCjDQRkOynBQhoMyHJThoAwHZTgow0H9A1/BGs9qO94sAAAAAElFTkSuQmCC);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 3.75vw;
}
@media screen and (min-width: 768px) {
  .properties .content .aboutContent .aboutBlock::before {
    width: 3.4375vw;
  }
}
@media screen and (max-width: 767px) {
  .properties .content .aboutContent .aboutBlock::before {
    width: 15.6vw;
  }
}
@media screen and (min-width: 768px) {
  .properties .content .aboutContent .aboutBlock::before {
    height: 2.3125vw;
  }
}
@media screen and (max-width: 767px) {
  .properties .content .aboutContent .aboutBlock::before {
    height: 6.4vw;
  }
}
@media screen and (max-width: 767px) {
  .properties .content .aboutContent .aboutBlock::before {
    background-size: cover;
  }
}
.properties .content .aboutContent .aboutBlock:not(:first-of-type) {
  margin-top: 3.125vw;
}
@media screen and (max-width: 767px) {
  .properties .content .aboutContent .aboutBlock:not(:first-of-type) {
    margin-top: 8vw;
  }
}
.properties .content .aboutLink {
  width: 100%;
  padding-top: 5.5vw;
  padding-bottom: 5vw;
}
@media screen and (min-width: 768px) {
  .properties .content .aboutLink {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .properties .content .aboutLink {
    padding: 10.6666666667vw 5.3333333333vw;
  }
}
.properties .content .aboutLink a {
  color: #5c583c;
  text-decoration: none;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.3125vw solid #e0ddcf;
  background-color: #fff;
  padding-left: 2vw;
  padding-right: 2vw;
}
@media screen and (min-width: 768px) {
  .properties .content .aboutLink a {
    width: 26.25vw;
  }
}
@media screen and (max-width: 767px) {
  .properties .content .aboutLink a {
    width: 89.3333333333vw;
  }
}
@media screen and (min-width: 768px) {
  .properties .content .aboutLink a {
    height: 5vw;
  }
}
@media screen and (max-width: 767px) {
  .properties .content .aboutLink a {
    height: 13.3333333333vw;
  }
}
@media screen and (min-width: 768px) {
  .properties .content .aboutLink a {
    font-size: min(1.125vw, 18px);
  }
}
@media screen and (max-width: 767px) {
  .properties .content .aboutLink a {
    font-size: 3.6vw;
  }
}
@media screen and (min-width: 768px) {
  .properties .content .aboutLink a {
    transition-property: background-color;
    transition-duration: 400ms;
  }
  .properties .content .aboutLink a:hover {
    background-color: #e0ddcf;
  }
}
@media screen and (max-width: 767px) {
  .properties .content .aboutLink a {
    justify-content: center;
    position: relative;
  }
}
@media screen and (max-width: 767px) {
  .properties .content .aboutLink a span {
    position: absolute;
    right: 5.3333333333vw;
  }
}
@media screen and (min-width: 768px) {
  .properties .content .aboutLink a:not(:first-of-type) {
    margin-left: 2.5vw;
  }
}
@media screen and (max-width: 767px) {
  .properties .content .aboutLink a:not(:first-of-type) {
    margin-top: 5.3333333333vw;
  }
}

/*# sourceMappingURL=properties.css.map*/