/*!*****************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/css/single-property.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************/
@charset "UTF-8";
/* major breakpoints */
@custom-media --sp (max-width: 767px);
@custom-media --tb (min-width: 768px) and (max-width: 1023px);
@custom-media --tb-h (min-width: 1024px) and (max-width: 1279px);
@custom-media --not-sp (min-width: 768px);
:root {
  --app-height: 100%;
}

#main .photo {
  margin-top: 72px;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  #main .photo {
    margin-top: 40px;
  }
}
#main .photo ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: -24px;
  margin-left: -24px;
}
@media screen and (max-width: 768px) {
  #main .photo ul {
    margin-top: -8px;
    margin-left: -8px;
  }
}
#main .photo ul li {
  margin-top: 24px;
  padding-left: 24px;
  width: 20%;
}
@media screen and (max-width: 768px) {
  #main .photo ul li {
    width: 33.3333333333%;
    margin-top: 8px;
    padding-left: 8px;
  }
}
#main .photo ul li figure img {
  height: 10vw;
  max-height: 140px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 768px) {
  #main .photo ul li figure img {
    height: 20vw;
  }
}
#main .photo ul li figcaption {
  font-size: 1rem;
}
#main .recommended {
  margin-top: 72px;
}
@media screen and (max-width: 768px) {
  #main .recommended {
    margin-top: 40px;
  }
}
#main .recommended h3 {
  font-size: 2.4rem;
  border-bottom: 1px solid #ccc;
}
@media screen and (max-width: 768px) {
  #main .recommended h3 {
    font-size: 2rem;
  }
}
#main .recommended ul {
  margin-top: 16px;
}
@media screen and (min-width: 769px) {
  #main .recommended ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (max-width: 768px) {
  #main .recommended ul {
    margin-top: 8px;
  }
}
#main .recommended ul li {
  font-size: 2rem;
  text-indent: -1em;
  padding-left: 1em;
}
#main .recommended ul li::before {
  content: "・";
}
@media screen and (min-width: 769px) {
  #main .recommended ul li {
    width: 33.3333333333%;
  }
}
@media screen and (max-width: 768px) {
  #main .recommended ul li {
    font-size: 1.6rem;
  }
}
#main .contact {
  margin-top: 96px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  #main .contact {
    margin-top: 40px;
  }
}
#main .contact a {
  width: 320px;
  height: 64px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  border: 1px solid #000;
  font-size: 2.6rem;
}
@media screen and (max-width: 768px) {
  #main .contact a {
    font-size: 2rem;
  }
}
#main .contact .contact-tel {
  font-size: 2.6rem;
  margin-top: 16px;
}
@media screen and (max-width: 768px) {
  #main .contact .contact-tel {
    font-size: 2rem;
    margin-top: 8px;
  }
}
#main .detail {
  margin-top: 96px;
}
@media screen and (min-width: 769px) {
  #main .detail {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (max-width: 768px) {
  #main .detail {
    margin-top: 40px;
  }
}
#main .detail table tr th, #main .detail table tr td {
  background: none;
  font-size: 2rem;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
  padding: 8px;
}
@media screen and (max-width: 768px) {
  #main .detail table tr th, #main .detail table tr td {
    font-size: 1.6rem;
  }
}
#main .detail table tr th {
  color: #000;
  text-align: left;
}
#main .return {
  width: 320px;
  height: 64px;
  margin: 96px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  border: 1px solid #000;
  font-size: 2.6rem;
}
@media screen and (max-width: 768px) {
  #main .return {
    margin-top: 40px;
    font-size: 2rem;
  }
}

#main {
  background-color: #fff;
  padding-top: 80px;
  padding-bottom: 80px;
}
@media screen and (max-width: 768px) {
  #main {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
#main.properties {
  margin-bottom: 80px;
}
@media screen and (max-width: 768px) {
  #main.properties {
    margin-bottom: 40px;
  }
}
#main .content {
  width: 78.125%;
  max-width: 1000px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  #main .content {
    width: 90%;
  }
}
#main .property-head:not(:first-of-type) {
  margin-top: 64px;
}
@media screen and (max-width: 768px) {
  #main .property-head:not(:first-of-type) {
    margin-top: 40px;
  }
}
#main .property-head .item .item-head {
  display: flex;
  align-items: center;
}
#main .property-head .item .item-head .item-group {
  font-size: 2rem;
  border: 1px solid #000;
  padding: 0 8px;
  margin-right: 32px;
}
@media screen and (max-width: 768px) {
  #main .property-head .item .item-head .item-group {
    font-size: 1.6rem;
    margin-right: 16px;
  }
}
#main .property-head .item .item-head .item-title {
  font-size: 2.6rem;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  #main .property-head .item .item-head .item-title {
    font-size: 2rem;
  }
}
#main .property-head .item .item-body {
  margin-top: 24px;
}
@media screen and (min-width: 769px) {
  #main .property-head .item .item-body {
    display: flex;
  }
}
@media screen and (max-width: 768px) {
  #main .property-head .item .item-body {
    margin-top: 16px;
  }
}
@media screen and (min-width: 769px) {
  #main .property-head .item .item-body .item-thumbnail {
    width: 32%;
    max-width: 320px;
  }
}
@media screen and (min-width: 769px) {
  #main .property-head .item .item-body .item-description {
    flex: 1;
    margin-left: 16px;
  }
}
#main .property-head .item .item-body .item-description table th, #main .property-head .item .item-body .item-description table td {
  padding: 8px;
  background: none;
  border-bottom: 1px solid #ccc;
  text-align: left;
  vertical-align: top;
  font-size: 2rem;
}
@media screen and (max-width: 768px) {
  #main .property-head .item .item-body .item-description table th, #main .property-head .item .item-body .item-description table td {
    font-size: 1.6rem;
  }
}
#main .property-head .item .item-body .item-description table th {
  color: #000;
}
#main .property-head .item .item-body .item-description table td.-price {
  color: #f00;
}
#main .property-head .item .item-body .item-description table td.-price span {
  font-size: 3.1rem;
}
@media screen and (max-width: 768px) {
  #main .property-head .item .item-body .item-description table td.-price span {
    font-size: 2.4rem;
  }
}

/*# sourceMappingURL=single-property.css.map*/