/* major breakpoints */
@custom-media --sp (max-width: 767px);
@custom-media --tb (min-width: 768px) and (max-width: 1023px);
@custom-media --tb-h (min-width: 1024px) and (max-width: 1279px);
@custom-media --not-sp (min-width: 768px);

$pcWidth: 1600;
$spWidth: 750;

$colorRed: #E01A12;

$fontFragmentMono: "Fragment Mono", monospace;

:root {
    --app-height: 100%;
}