@use '../../css/common/variables' as v;

.flow {
    background-color: v.$colorOffWhite;
    .num {
        color: v.$colorRed;
        font-family: v.$fontFragmentMono;
    }
    .title {
        color: v.$colorBlack;
    }
    .text {
        color: #7A7676;
    }
}