@use '../../css/common/variables' as v;
@use '../../css/common/mixin' as m;
@use '../../css/common/keyframes';

footer {
    .capabilities {
        background-color: v.$colorBlack;
        h2 {
            color: v.$colorWhite;
            font-family: v.$fontSelecta;
            line-height: calc(52 / 48);
        }
        h3 {
            color: v.$colorOffWhite;
            font-size: 13px;
            font-family: v.$fontFragmentMono;
            line-height: normal;
        }
        ul {
            li {
                color: v.$colorOffWhite;
                line-height: normal;
            }
        }
        .our-services {
            color: v.$colorBlack;
            background-color: v.$colorOffWhite;
            font-size: 17px;
            font-family: v.$fontSelecta;
            font-weight: 500;
            line-height: normal;
            box-shadow: inset 0px -4px 8px 0px rgba(0, 0, 0, 0.2);
            border-radius: 32px;
            @include m.not-sp {
                transition-property: border-radius;
                transition-duration: 320ms;
                &:hover {
                    border-radius: 0px;
                }
            }
        }
    }

    .foot {
        background-color: v.$colorRed;
        h2 {
            color: v.$colorOffWhite;
        }
        .logo {
            margin-top: 160px;
            @include m.sp {
                pointer-events: none;
            }
            img {
                transition-property: opacity;
                transition-duration: 0.6s;
            }
            &.-on {
                .-off {
                    opacity: 0;
                }
            }
            &:not(.-on) {
                .-on {
                    opacity: 0;
                }
            }
        }
        .links {
            a {
                color: #FAF0F1;
                font-family: v.$fontSelecta;
                line-height: normal;
            }
        }
        small {
            color: #FAF0F1;
            font-family: v.$fontSelecta;
            line-height: normal;
        }
        .follower {
            @include m.sp {
                display: none;
            }
            .object {
                transition-property: transform;
                transition-duration: 0.3s;
                .animation {
                    width: 10rem;
                    height: 10rem;
                    background: white;
                    border-radius: 50%;
                    animation: breathe 2s ease-in-out infinite, morph 8s ease-in-out infinite;
                    box-shadow: 0 0 40px rgba(0, 0, 0, 0.08);
                    color: v.$colorRed;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 17px;
                    line-height: calc(22 / 17);
                }
            }
            &:not(.-show) {
                .object {
                    transform: scale(0);
                }
            }
        }
    }
}


body {
    &[data-language="ja"] {
        footer {
            .capabilities {
                ul {
                    li {
                        font-size: 15px;
                        font-family: v.$fontSelecta;
                        font-weight: 500;
                    }
                }
            }
            .foot {
                h2 {
                    font-size: 56px;
                    font-family: v.$fontIBMPlexSansJP;
                    font-weight: 700;
                    line-height: calc(88 / 56);
                    @include m.sp {
                        font-size: 32px;
                        line-height: calc(44 / 32);
                    }
                }
                .follower {
                    .object {
                        .animation {
                            font-family: v.$fontIBMPlexSansJP;
                        }
                    }
                }
            }
        }
    }
    &[data-language="en"] {
        footer {
            .capabilities {
                ul {
                    li {
                        font-size: 17px;
                        font-family: v.$fontSelecta;
                    }
                }
            }
            .foot {
                h2 {
                    font-size: 80px;
                    font-family: v.$fontSelecta;
                    font-weight: 500;
                    line-height: calc(88 / 80);
                    @include m.sp {
                        font-size: 40px;
                        line-height: calc(44 / 40);
                    }
                }
                .follower {
                    .object {
                        .animation {
                            font-family: v.$fontFragmentMono;
                        }
                    }
                }
            }
        }
    }
    &.-cursorNone {
        cursor: none;
    }
}