@use '../../css/common/variables' as v;

footer {
    .capabilities {
        background-color: v.$colorBlack;
        h2 {
            color: v.$colorWhite;
            font-family: v.$fontSelecta;
        }
        h3 {
            color: v.$colorOffWhite;
            font-size: 13px;
            font-family: v.$fontFragmentMono;
        }
        ul {
            li {
                color: v.$colorOffWhite;
                font-size: 17px;
                font-family: v.$fontSelecta;
            }
        }
        .our-services {
            color: v.$colorBlack;
            background-color: v.$colorOffWhite;
            font-size: 17px;
            font-family: v.$fontSelecta;
            font-weight: 500;
        }
    }

    .foot {
        background-color: v.$colorRed;
        h2 {
            color: v.$colorOffWhite;
        }
        .logo {
            margin-top: 160px;
        }
        .links {
            a {
                color: #FAF0F1;
                font-family: v.$fontSelecta;
            }
        }
        small {
            color: #FAF0F1;
            font-family: v.$fontSelecta;
        }
    }
}