@use '../../css/common/variables' as v;
@use '../../css/common/mixin' as m;
@use '../../css/common/keyframes';

footer {
    .capabilities {
        background-color: v.$colorBlack;
        h2 {
            color: v.$colorWhite;
            font-family: v.$fontSelecta;
        }
        h3 {
            color: v.$colorOffWhite;
            font-size: 13px;
            font-family: v.$fontFragmentMono;
        }
        ul {
            li {
                color: v.$colorOffWhite;
                font-size: 17px;
                font-family: v.$fontSelecta;
            }
        }
        .our-services {
            color: v.$colorBlack;
            background-color: v.$colorOffWhite;
            font-size: 17px;
            font-family: v.$fontSelecta;
            font-weight: 500;
            box-shadow: inset 0px -4px 8px 0px rgba(0, 0, 0, 0.2);
        }
    }

    .foot {
        background-color: v.$colorRed;
        h2 {
            color: v.$colorOffWhite;
            font-family: v.$fontSelecta;
            font-weight: 500;
        }
        .logo {
            margin-top: 160px;
        }
        .links {
            a {
                color: #FAF0F1;
                font-family: v.$fontSelecta;
            }
        }
        small {
            color: #FAF0F1;
            font-family: v.$fontSelecta;
        }
        .follower {
            @include m.sp {
                display: none;
            }
            .object {
                transition-property: transform;
                transition-duration: 0.3s;
                .animation {
                    width: 10rem;
                    height: 10rem;
                    background: white;
                    border-radius: 50%;
                    animation: breathe 2s ease-in-out infinite, morph 8s ease-in-out infinite;
                    box-shadow: 0 0 40px rgba(0, 0, 0, 0.08);
                    color: v.$colorRed;
                    font-family: v.$fontFragmentMono;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 17px;
                }
            }
            &:not(.-show) {
                .object {
                    transform: scale(0);
                }
            }
        }
    }
}