@use '../../css/common/variables' as v;

header {
    border-top: 12px solid v.$colorRed;
    ul, .language {
        font-family: v.$fontFragmentMono;
    }

    #trigger-contact {
        cursor: pointer;
    }
}