@use '../../css/common/variables' as v;

header {
    border-top: 12px solid v.$colorRed;
    ul, .language {
        font-family: v.$fontSelecta;
        font-size: var(--text-base);
    }

    #trigger-contact {
        cursor: pointer;
    }
}