.loading {
    background-color: #ffffff;
}

        .loadership_ZWSUR {
          display: flex;
          position: relative;
          width: 70px;
          height: 70px;
        }

        .loadership_ZWSUR div {
          position: absolute;
          top: 0px;
          left: 0px;
          width: 70px;
          height: 70px;
          border: 10px solid #E01A1233;
          border-radius: 50%;
        }

        .loadership_ZWSUR div:nth-child(2) {
          clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 20.00%);
          animation: loadership_ZWSUR_spin 1.2s infinite;
          animation-timing-function: linear;
          border: 10px solid #E01A12;
        }

        @keyframes loadership_ZWSUR_spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
        }
    
    