@use '../../css/common/variables' as v;
@use '../../css/common/mixin' as m;

.see-the-work {
    color: v.$colorWhite;
    font-size: 17px;
    font-family: v.$fontSelecta;
    font-weight: 500;
    background-color: v.$colorRed;
    line-height: normal;
    width: 144px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0px -4px 8px 0px rgba(0, 0, 0, 0.2);
    border-radius: 32px;
    @include m.sp {
        width: 100%;
        height: 52px;
    }
    @include m.not-sp {
        transition-property: border-radius;
        transition-duration: 320ms;
        &:hover {
            border-radius: 0px;
        }
    }

}