@use '../../css/common/variables' as v;
@use '../../css/common/mixin' as m;

.main {

    .copy {
        background-color: v.$colorRed;
        color: v.$colorWhite;
    }
    
    .lead {
        color: v.$colorBlack;
        font-weight: 500;
    }

    .beliefs {
        background-color: v.$colorOffWhite;
        h2 {
            color: v.$colorBlack;
            font-family: v.$fontSelecta;
            line-height: calc(52/ 48);
            @include m.not-sp {
                width: calc(405 / 1248 * 100%);
            }
            @include m.sp {
                font-size: 36px;
                line-height: calc(30 / 36);
            }
        }
        .description {
            @include m.not-sp {
                width: calc(721 / 1248 * 100%);
            }
            @include m.sp {
                margin-top: 64px;
            }
            dl {
                border-top: 1px solid #E5E1E1;
                padding-top: 16px;
                padding-bottom: 48px;
                @include m.not-sp {
                    display: flex;
                    padding-bottom: 64px;
                }
                dt {
                    color: v.$colorBlack;
                    font-family: v.$fontSelecta;
                    font-weight: 500;
                    font-size: 28px;
                    line-height: normal;
                    @include m.not-sp {
                        width: calc(300 / 721 * 100%);
                        margin-right: 16px;
                    }
                    @include m.sp {
                        font-size: 24px;
                    }
                }
                dd {
                    color: #7A7676;
                    line-height: normal;
                    @include m.not-sp {
                        flex: 1;
                    }
                    @include m.sp {
                        font-size: 22px;
                        margin-top: 32px;
                        line-height: calc(28 / 22);
                    }
                }
            }
        }
    }

    .flow {
        .summary {
            @include m.not-sp {
                width: calc(405 / 1248 * 100%);
            }
            .num {
                color: v.$colorRed;
                font-size: 22px;
                font-family: v.$fontFragmentMono;
                line-height: calc(28 / 22);
                @include m.sp {
                    font-size: 17px;
                }
            }
            h3 {
                color: v.$colorBlack;
                font-weight: 500;
                font-family: v.$fontSelecta;
                line-height: calc(52 / 48);
                @include m.sp {
                    line-height: calc(40 / 36);
                    white-space: nowrap;
                    letter-spacing: calc(36px * -0.02);
                }
            }
            .text {
                color: #7A7676;
                font-size: 22px;
                font-family: v.$fontSelecta;
            }
        }
    }

    .profile {
        .image {
            img {
                @include m.not-sp {
                    width: calc(300 / 405 * 100%);
                }
            }
        }
        .summary {
            h3 {
                font-family: v.$fontSelecta;
                color: v.$colorBlack;
                @include m.sp {
                    font-size: 36px;
                }
            }
            p {
                font-family: v.$fontSelecta;
                color: #7A7676;
            }
            ul {
                li {
                    a {
                        color: v.$colorRed;
                        font-size: 13px;
                        font-family: v.$fontFragmentMono;
                        text-decoration: underline;
                        @include m.sp {
                            font-size: 17px;
                        }
                    }
                }
            }
        }
    }
}

body {
    &[data-language="ja"] {
        .copy {
            font-size: 56px;
            font-weight: 700;
            font-family: v.$fontIBMPlexSansJP;
            line-height: calc(80 / 56);
            @include m.sp {
                font-size: 32px;
                line-height: calc(44 / 32);
            }
        }
        .lead {
            font-size: 2.25rem;
            font-weight: 500;
            font-family: v.$fontIBMPlexSansJP;
            line-height: calc(48 / 36);
            @include m.sp {
                font-size: 18px;
                line-height: calc(32 / 18);
            }
        }

        .beliefs {
            .description {
                dl {
                    dd {
                        font-size: 15px;
                        font-family: v.$fontIBMPlexSansJP;
                        @include m.sp {
                            line-height: normal;
                        }
                    }
                }
            }
        }

        .flow {
            .summary {
                .text {
                    font-size: 17px;
                    font-family: v.$fontIBMPlexSansJP;
                    font-weight: 500;
                    line-height: calc(30 / 17);
                }
            }
        }

        .profile {
            .summary {
                h3 {
                    font-size: 24px;
                    font-weight: 600;
                    font-family: v.$fontIBMPlexSansJP;
                    line-height: normal;
                    @include m.sp {
                        font-size: 36px;
                        line-height: calc(40 / 36);
                    }
                }
                .kana {
                    line-height: normal;
                }
                p {
                    font-family: v.$fontIBMPlexSansJP;
                    font-size: 15px;
                    font-weight: 500;
                    line-height: normal;
                    @include m.sp {
                        font-size: 18px;
                        line-height: calc(32 / 18);
                    }
                }
            }
        }

    }
    &[data-language="en"] {
        .copy {
            font-size: 80px;
            font-family: v.$fontSelecta;
            line-height: calc(88 / 80);
            @include m.sp {
                font-size: 48px;
                line-height: calc(48 / 48);
            }
        }
        .lead {
            font-size: 48px;
            font-family: v.$fontSelecta;
            line-height: calc(52 / 48);
            @include m.sp {
                font-size: 32px;
                line-height: calc(40 / 32);
            }
        }

        .beliefs {
            .description {
                dl {
                    dd {
                        font-size: 17px;
                        font-family: v.$fontSelecta;
                    }
                }
            }
        }

        .flow {
            .summary {
                .text {
                    font-size: 22px;
                    font-family: v.$fontSelecta;
                    line-height: calc(28 / 22);
                }
            }
        }

        .profile {
            .summary {
                h3 {
                    font-size: 48px;
                    font-weight: 500;
                    font-family: v.$fontSelecta;
                    line-height: calc(52 / 48);
                    @include m.sp {
                        font-size: 36px;
                        line-height: calc(40 / 36);
                    }
                }
                p {
                    font-family: v.$fontSelecta;
                    font-size: 22px;
                    line-height: calc(28 / 22);
                }
            }
        }
    }
}