@use '../../css/common/variables' as v;
@use '../../css/common/mixin' as m;

.copy {

}

.main {
    &[data-language="ja"] {
        .copy {
            font-size: 56px;
            font-weight: 700;
            font-family: v.$fontIBMPlexSansJP;
        }
        .lead {
            font-size: 2.25rem;
            font-weight: 500;
            font-family: v.$fontIBMPlexSansJP;
        }
    }
    &[data-language="en"] {
        .copy {
            font-size: 80px;
            font-family: v.$fontSelecta;
        }
    }
    
    .lead {
        color: v.$colorBlack;
    }

    .beliefs {
        background-color: v.$colorOffWhite;
        font-family: v.$fontSelecta;
        h2 {
            color: v.$colorBlack;
            width: calc(405 / 1248 * 100%);
        }
        .description {
            width: calc(721 / 1248 * 100%);
            dl {
                display: flex;
                border-top: 1px solid #E5E1E1;
                padding-top: 16px;
                padding-bottom: 48px;
                dt {
                    color: v.$colorBlack;
                    font-weight: 500;
                    font-size: 28px;
                    width: calc(300 / 721 * 100%);
                    margin-right: 16px;
                }
                dd {
                    color: #7A7676;
                    font-size: 17px;
                    flex: 1;
                }
            }
        }
    }

    .flow {
        .summary {
            width: calc(405 / 1248 * 100%);
            .num {
                color: v.$colorRed;
                font-size: 22px;
                font-family: v.$fontFragmentMono;
            }
            h3 {
                color: v.$colorBlack;
                font-weight: 500;
                font-family: v.$fontSelecta;
            }
            .text {
                color: #7A7676;
                font-size: 22px;
                font-family: v.$fontSelecta;
            }
            .link {
                color: v.$colorWhite;
                font-size: 17px;
                font-family: v.$fontSelecta;
                font-weight: 500;
                background-color: v.$colorRed;
                width: 144px;
                height: 44px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .profile {
        .image {
            width: calc(405 / 1248 * 100%);
            img {
                width: calc(300 / 405 * 100%);
            }
        }
        .summary {
            h3 {
                font-family: v.$fontSelecta;
                color: v.$colorBlack;
            }
            p {
                font-family: v.$fontSelecta;
                color: #7A7676;
            }
            ul {
                li {
                    a {
                        color: v.$colorRed;
                        font-size: 13px;
                        font-family: v.$fontFragmentMono;
                    }
                }
            }
        }
    }
}