@use './common/variables' as v;
@use './common/mixin' as m;

@use '../components/global/header';
@use '../components/global/footer';
@use '../components/global/font';
@use '../components/global/ui';
@use '../components/global/animation';
@use '../components/global/loading';
@use '../components/contact/contact';

html {
    overscroll-behavior: none;
}

body {
    overscroll-behavior: none;
    @include m.sp {
        padding-top: 75px;
    }
    &.-white {
        .main {
            opacity: 0;
        }
    }
}

.main {
    background-color: v.$colorWhite;
    position: relative;
    z-index: 2;
}

.h-screen-sp {
    @include m.sp {
        min-height: calc(var(--app-height) - 75px);
        min-height: calc(100dvh - 75px);
    }
}
