@use '../../css/common/variables' as v;
@use '../../css/common/mixin' as m;

#main {
    background-color: #fff;
    padding-top: 80px;
    padding-bottom: 80px;
    @include m.sp {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    &.properties {
        margin-bottom: 80px;
        @include m.sp {
            margin-bottom: 40px;
        }
    }
    .content {
        width: calc(1000 / 1280 * 100%);
        max-width: 1160px;
        margin: 0 auto;
        @include m.sp {
            width: 90%;
        }
    }
    .property-head {
        &:not(:first-of-type) {
            margin-top: 64px;
            @include m.sp {
                margin-top: 40px;
            }
        }
        .item {
            .item-head {
                display: flex;
                align-items: center;
                .item-group {
                    font-size: 2.0rem;
                    border: 1px solid #000;
                    padding: 0 8px;
                    margin-right: 32px;
                    @include m.sp {
                        font-size: 1.6rem;
                        margin-right: 16px;
                    }
                }
                .item-title {
                    font-size: 2.6rem;
                    font-weight: 700;
                    @include m.sp {
                        font-size: 2rem;
                    }
                }
            }
            .item-body {
                margin-top: 24px;
                @include m.not-sp {
                    display: flex;
                }
                @include m.sp {
                    margin-top: 16px;
                }
                .item-thumbnail {
                    @include m.not-sp {
                        width: calc(320 / 1000 * 100%);
                        max-width: 320px;
                    }
                }
                .item-description {
                    @include m.not-sp {
                        flex: 1;
                        margin-left: 16px;
                    }
                    table {
                        th, td {
                            padding: 8px;
                            background: none;
                            border-bottom: 1px solid #ccc;
                            text-align: left;
                            font-size: 2.0rem;
                            @include m.sp {
                                font-size: 1.6rem;
                            }
                        }
                        th {
                            color: #000;
                            @include m.not-sp {
                                width: 20%;
                            }
                        }
                        td {
                            @include m.not-sp {
                                width: 30%;
                            }
                            &.-colspan {
                                @include m.not-sp {
                                    width: 80%;
                                }
                            }
                            &.-price {
                                color: #f00;
                                span {
                                    font-size: 3.1rem;
                                    @include m.sp {
                                        font-size: 2.4rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}