@use '../../css/common/variables' as v;
@use '../../css/common/mixin' as m;

.visual {
    height: 500px;
    @include m.sp {
        height: 250px;
    }
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: bottom;
    }
}

#main.properties {
    margin-top: 0;
    .content {
        .filter {
            .filter-item {
                border-bottom: 1px solid #ccc;
                @include m.not-sp {
                    display: flex;
                }
                .filter-title {
                    font-size: 2.6rem;
                    width: 240px;
                    padding-top: 8px;
                    @include m.not-sp {
                        padding-bottom: 8px;
                    }
                    @include m.sp {
                        font-size: 2.2rem;
                    }
                }
                .filter-list {
                    display: flex;
                    align-items: center;
                    flex: 1;
                    li {
                        padding-top: 8px;
                        padding-bottom: 8px;
                        margin-right: 24px;
                        label {
                            font-size: 2.0rem;
                            cursor: pointer;
                            input {
                                margin-right: 8px;
                            }
                            @include m.sp {
                                font-size: 1.6rem;
                            }
                        }
                    }
                }
            }
        }
        .property {
            margin-top: 64px;
            @include m.sp {
                margin-top: 40px;
            }
            .property-head {
                &.-hide {
                    display: none;
                }
            }
        }
    }
}