@use '../../css/common/variables' as v;
@use '../../css/common/mixin' as m;

.contact-parent {

    .contact-background {
        background-color: v.$colorBlack;
        opacity: 0.7;
        transition-property: opacity;
    }
    
    .contact {
        width: 696px;
        position: fixed;
        bottom: 0;
        background-color: v.$colorBlack;
        padding: 4rem;
        left: 0;
        right: 0;
        margin: 0 auto;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        overflow: hidden;
        box-shadow: 0 48px 32px rgba(0, 0, 0, 0.4);
        transition-property: transform, opacity;
        transition-timing-function: cubic-bezier(0.5,0,0,1);
        @include m.sp {
            padding: 64px 32px 48px;
            width: 100%;
        }

        .close {
            position: absolute;
            top: 0;
            right: 0;
            width: 3.5rem;
            height: 3.5rem;
            background-color: v.$colorRed;
            border-bottom-left-radius: 1.25rem;
            cursor: pointer;
            span {
                display: flex;
                align-items: center;
                justify-content: center;
                transform: rotate(45deg);
                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    background-color: v.$colorWhite;
                }
                &::before {
                    width: 1.75rem;
                    height: 2.5px;
                }
                &::after {
                    width: 2.5px;
                    height: 1.75rem;
                }
            }
        }
        h2 {
            color: v.$colorOffWhite;
            white-space: nowrap;
        }
        .form {
            margin-top: 1.5rem;
            overflow-y: scroll;
            @include m.not-sp {
                max-height: 400px;
            }
            @include m.sp {
                max-height: 336px;
            }
            input, textarea {
                width: 100%;
                background-color: #272729;
                font-size: 1rem;
                font-family: v.$fontSelecta;
                padding: 0.75rem;
                margin-top: 0.5rem;
                vertical-align: bottom;
                border-top-left-radius: 0.25rem;
                border-top-right-radius: 0.25rem;
                color: v.$colorOffWhite;
                outline: none;
                &:focus {
                    background-color: v.$colorRed;
                }
            }
            textarea {
                height: 10rem;
                resize: none;
            }
        }
        .err-message {
            color: v.$colorRed;
            font-size: 14px;
            font-family: v.$fontSelecta;
        }
        .submit {
            background-color: v.$colorOffWhite;
            width: 100%;
            font-size: 17px;
            color: v.$colorBlack;
            height: 3.25rem;
            margin-top: 2rem;
            border-radius: 1rem;
            border-radius: 9999px;
        }

        .send-complete {
            p {
                color: v.$colorOffWhite;
                line-height: normal;
            }
        }

        .wpcf7-response-output,
        .wpcf7-spinner {
            display: none;
        }
    }

    &:not(.-show) {
        pointer-events: none;
        .contact {
            transform: translateY(100%) scale(0.6);
        }
        .contact-background {
            opacity: 0;
        }
    }

    &.-complete {
        .send {
            display: none;
        }
    }

    &:not(.-complete) {
        .send-complete {
            display: none;
        }
    }

    &.-show {
        .contact,
        .contact-background {
            transition-duration: 0.75s;
        }
    }

    &.-hide {
        pointer-events: none;
        .contact,
        .contact-background {
            transition-duration: 0.4s;
        }
        .contact {
            transform: translateY(-16px);
            opacity: 0;
        }
        .contact-background {
            opacity: 0;
        }
    }
}

body {
    &[data-language="ja"] {
        .contact-parent {
            .contact {
                h2 {
                    font-size: 40px;
                    font-weight: 700;
                    font-family: v.$fontIBMPlexSansJP;
                    line-height: calc(56 / 40);
                    @include m.sp {
                        font-size: 32px;
                        line-height: calc(44 / 32);
                    }
                }
                .submit {
                    font-family: v.$fontIBMPlexSansJP;
                    font-weight: 700;
                }
            }
            .send-complete {
                p {
                    font-family: v.$fontIBMPlexSansJP;
                    font-size: 16px;
                    line-height: calc(28 / 16);
                }
            }
        }
    }
    &[data-language="en"] {
        .contact-parent {
            .contact {
                h2 {
                    font-size: 48px;
                    font-weight: 500;
                    font-family: v.$fontSelecta;
                    line-height: calc(52 / 48);
                    @include m.sp {
                        line-height: calc(48 / 48);
                    }
                }
                .submit {
                    font-family: v.$fontSelecta;
                    font-weight: 500;
                }
            }
            .send-complete {
                p {
                    font-family: v.$fontSelecta;
                    font-size: 24px;
                    line-height: calc(28 / 24);
                }
            }
        }
    }
}