/*!*****************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/css/app.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************/
/* major breakpoints */
@custom-media --sp (max-width: 767px);
@custom-media --tb (min-width: 768px) and (max-width: 1023px);
@custom-media --tb-h (min-width: 1024px) and (max-width: 1279px);
@custom-media --not-sp (min-width: 768px);
:root {
  --app-height: 100%;
}

header {
  transition-property: transform;
  transition-duration: 0.5s;
}
header .header-content {
  border-top: 12px solid #E01A12;
  transition-property: background-color, border-top-color;
  transition-duration: 0.5s;
}
header h1 a svg path {
  transition-property: fill;
  transition-duration: 0.5s;
}
@media screen and (max-width: 768px) {
  header .menu {
    background-color: #E01A12;
    height: var(--app-height);
    padding: 16px 16px 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition-property: transform;
    transition-duration: 0.75s;
    transition-timing-function: cubic-bezier(0.5, 0, 0, 1);
  }
}
header ul, header .language {
  font-family: "Selecta";
  font-size: 1rem;
  color: #454547;
  transition-property: color;
  transition-duration: 0.5s;
}
@media screen and (max-width: 768px) {
  header ul {
    flex-direction: column;
  }
  header ul li a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    color: #F7F7FA;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 0 16px;
    border-radius: 4px;
  }
}
@media screen and (min-width: 769px) {
  header ul li a.current {
    pointer-events: none;
    color: #FFFFFF;
    background-color: #E01A12;
  }
}
@media screen and (max-width: 768px) {
  header ul li:not(:first-of-type) {
    margin-top: 8px;
  }
  header ul li.-contact a, header ul li.-linkedin a {
    height: 52px;
    font-size: 17px;
    border-radius: 9999px;
    justify-content: center;
    box-shadow: inset 0px -4px 8px 0px rgba(0, 0, 0, 0.2);
  }
  header ul li.-contact {
    margin-top: 24px;
  }
  header ul li.-contact a {
    background-color: #F7F7FA;
    color: #16161A;
  }
  header ul li.-linkedin {
    margin-top: 12px;
  }
  header ul li.-linkedin a {
    background-color: #E01A12;
    color: #FFFFFF;
    border: 2px solid #F7F7FA;
  }
  header .language {
    position: fixed;
    left: 16px;
    color: #FFFFFF;
    transition-property: opacity;
    transition-duration: 0.3s;
  }
}
header .language a {
  cursor: pointer;
}
header #trigger-contact {
  cursor: pointer;
}
header .toggle span {
  position: absolute;
  background-color: #E01A12;
  width: 100%;
  height: 1px;
  transition-duration: 0.3s;
  transition-property: transform, background-color;
}
header .toggle span:nth-of-type(1) {
  top: 12px;
}
header .toggle span:nth-of-type(2) {
  top: 24px;
}
header.-openMenu .toggle span {
  background-color: #F7F7FA;
}
header.-openMenu .toggle span:nth-of-type(1) {
  transform: translateY(6px) rotate(45deg);
}
header.-openMenu .toggle span:nth-of-type(2) {
  transform: translateY(-6px) rotate(-45deg);
}
@media screen and (max-width: 768px) {
  header:not(.-openMenu) .menu {
    transform: translateY(-100%);
  }
  header:not(.-openMenu) .language {
    opacity: 0;
    pointer-events: none;
  }
}
@media screen and (min-width: 769px) {
  header:not(.-showHeader) {
    transform: translateY(-100%);
  }
}

body[data-id=about] header .header-content {
  background-color: #E01A12;
  border-top-color: #FFFFFF;
}
body[data-id=about] header h1 svg path {
  fill: #FFFFFF;
}
body[data-id=about] header ul, body[data-id=about] header .language {
  color: #FFFFFF;
}
@media screen and (min-width: 769px) {
  body[data-id=about] header ul li a.current {
    color: #E01A12;
    background-color: #FFFFFF;
  }
}

footer .capabilities {
  background-color: #16161A;
}
footer .capabilities h2 {
  color: #FFFFFF;
  font-family: "Selecta";
}
footer .capabilities h3 {
  color: #F7F7FA;
  font-size: 13px;
  font-family: "Fragment Mono", monospace;
}
footer .capabilities ul li {
  color: #F7F7FA;
  font-size: 17px;
  font-family: "Selecta";
}
footer .capabilities .our-services {
  color: #16161A;
  background-color: #F7F7FA;
  font-size: 17px;
  font-family: "Selecta";
  font-weight: 500;
}
footer .foot {
  background-color: #E01A12;
}
footer .foot h2 {
  color: #F7F7FA;
  font-family: "Selecta";
  font-weight: 500;
}
footer .foot .logo {
  margin-top: 160px;
}
footer .foot .links a {
  color: #FAF0F1;
  font-family: "Selecta";
}
footer .foot small {
  color: #FAF0F1;
  font-family: "Selecta";
}

@font-face {
  font-family: "Selecta";
  src: url("/wp-content/themes/newfiction/fonts/selecta/woff/Selecta Light.woff2") format("woff2"), url("/wp-content/themes/newfiction/fonts/selecta/woff/Selecta Light.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "Selecta";
  src: url("/wp-content/themes/newfiction/fonts/selecta/woff/Selecta Regular.woff2") format("woff2"), url("/wp-content/themes/newfiction/fonts/selecta/woff/Selecta Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Selecta";
  src: url("/wp-content/themes/newfiction/fonts/selecta/woff/Selecta Medium.woff2") format("woff2"), url("/wp-content/themes/newfiction/fonts/selecta/woff/Selecta Medium.woff") format("woff");
  font-weight: 500;
}
.fontSelectaRegular {
  font-family: "Selecta";
  font-weight: 400;
}

.fontSelectaMedium {
  font-family: "Selecta";
  font-weight: 500;
}

.see-the-work {
  color: #FFFFFF;
  font-size: 17px;
  font-family: "Selecta";
  font-weight: 500;
  background-color: #E01A12;
  width: 144px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0px -4px 8px 0px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 768px) {
  .see-the-work {
    width: 100%;
    height: 52px;
  }
}

.main .-enterAnimation {
  overflow: hidden;
}
.main .-enterAnimation span {
  display: block;
}
.main .-enterAnimation span[data-animation-type=y] {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.5, 0, 0, 1);
}
.main .-enterAnimation span[data-animation-type=opacity] {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.28, 0.44, 0.49, 1);
}
.main .-enterAnimation[data-animation-type=thumbnail] {
  transition-property: clip-path;
  transition-timing-function: cubic-bezier(0.72, 0, 0.28, 1);
}
.main .-enterAnimation[data-animation-type=thumbnail] img {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.72, 0, 0.28, 1);
}
.main.-show .-enterAnimation span[data-animation-type=y] {
  transition-duration: 0.75s;
}
.main.-show .-enterAnimation span[data-animation-type=opacity] {
  transition-duration: 0.65s;
}
.main.-show .-enterAnimation[data-animation-type=thumbnail] {
  clip-path: inset(0% 0% 0% 0%);
  transition-duration: 1s;
}
.main.-show .-enterAnimation[data-animation-type=thumbnail] img {
  transition-duration: 1.5s;
}
.main:not(.-show) .-enterAnimation span[data-animation-type=y] {
  transform: translateY(100%);
}
.main:not(.-show) .-enterAnimation span[data-animation-type=opacity] {
  opacity: 0;
}
.main:not(.-show) .-enterAnimation[data-animation-type=thumbnail] {
  clip-path: inset(100% 0% 0% 0%);
}
.main:not(.-show) .-enterAnimation[data-animation-type=thumbnail] img {
  transform: scale(1.25);
}

.contact-parent .contact-background {
  background-color: #16161A;
  opacity: 0.7;
  transition-property: opacity;
}
.contact-parent .contact {
  width: 696px;
  position: fixed;
  bottom: 0;
  background-color: #16161A;
  padding: 4rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 48px 32px rgba(0, 0, 0, 0.4);
  transition-property: transform, opacity;
  transition-timing-function: cubic-bezier(0.5, 0, 0, 1);
}
@media screen and (max-width: 768px) {
  .contact-parent .contact {
    padding: 32px 48px;
    width: 100%;
  }
}
.contact-parent .contact .close {
  position: absolute;
  top: 0;
  right: 0;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #E01A12;
  border-bottom-left-radius: 1.25rem;
  cursor: pointer;
}
.contact-parent .contact .close span {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg);
}
.contact-parent .contact .close span::before, .contact-parent .contact .close span::after {
  content: "";
  position: absolute;
  background-color: #FFFFFF;
}
.contact-parent .contact .close span::before {
  width: 1.75rem;
  height: 2.5px;
}
.contact-parent .contact .close span::after {
  width: 2.5px;
  height: 1.75rem;
}
.contact-parent .contact h2 {
  color: #F7F7FA;
  font-size: 3rem;
  font-weight: 500;
  font-family: "Selecta";
}
.contact-parent .contact .form {
  margin-top: 1.5rem;
}
.contact-parent .contact .form input, .contact-parent .contact .form textarea {
  width: 100%;
  background-color: #272729;
  font-size: 1rem;
  font-family: "Selecta";
  padding: 0.75rem;
  margin-top: 0.5rem;
  vertical-align: bottom;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.contact-parent .contact .form textarea {
  height: 10rem;
  resize: none;
}
.contact-parent .contact .submit {
  background-color: #F7F7FA;
  width: 100%;
  font-size: 17px;
  font-family: "Selecta";
  font-weight: 500;
  color: #16161A;
  height: 3.25rem;
  margin-top: 2rem;
  border-radius: 1rem;
  border-radius: 9999px;
}
.contact-parent:not(.-show) {
  pointer-events: none;
}
.contact-parent:not(.-show) .contact {
  transform: translateY(100%) scale(0.6);
}
.contact-parent:not(.-show) .contact-background {
  opacity: 0;
}
.contact-parent.-show .contact,
.contact-parent.-show .contact-background {
  transition-duration: 0.75s;
}
.contact-parent.-hide {
  pointer-events: none;
}
.contact-parent.-hide .contact,
.contact-parent.-hide .contact-background {
  transition-duration: 0.4s;
}
.contact-parent.-hide .contact {
  transform: translateY(-16px);
  opacity: 0;
}
.contact-parent.-hide .contact-background {
  opacity: 0;
}

@media screen and (max-width: 768px) {
  body {
    padding-top: 75px;
  }
}

.main {
  background-color: #FFFFFF;
  position: relative;
  z-index: 2;
}

/*# sourceMappingURL=app.css.map*/