@use '../../css/common/variables' as v;
@use '../../css/common/mixin' as m;

.copy {
    color: v.$colorBlack;
}

.cards {
    .card {
        &:not(:nth-child(3n)) {
            width: calc(50% - 0.5rem);
        }
        &:nth-child(3n) {
            width: 100%;
        }
        img {
            width: 100%;
        }
        .caption {
            font-size: 15px;
            font-family: v.$fontSelecta;
            line-height: normal;
            @include m.sp {
                font-size: 13px;
            }
        }
    }
}

body {
    &[data-language="ja"] {
        .copy {
            font-family: v.$fontIBMPlexSansJP;
            font-size: 56px;
            font-weight: 700;
            line-height: calc(80 / 56);
            @include m.sp {
                font-size: 30px;
                line-height: calc(48 / 48);
            }
        }
    }
    &[data-language="en"] {
        .copy {
            font-family: v.$fontSelecta;
            font-size: 80px;
            font-weight: 500;
            line-height: calc(88 / 80);
            @include m.sp {
                font-size: 30px;
                line-height: calc(48 / 48);
            }
        }
    }
}