@use '../../css/common/variables' as v;
@use '../../css/common/mixin' as m;

h2 {
    font-size: 80px;
    line-height: calc(88 / 80);
    @include m.sp {
        font-size: 48px;
        line-height: calc(48 / 48);
    }
}

.description {
    color: #454547;
}

.profile {
    dl {
        @include m.not-sp {
            margin-bottom: 32px;
        }
        @include m.sp {
            margin-top: 32px;
        }
        dt {
            color: #7A7676;
            font-size: 11px;
            font-family: v.$fontFragmentMono;
            margin-bottom: 12px;
            line-height: normal;
        }
        dd {
            color: v.$colorBlack;
            font-size: 13px;
            font-family: 'Selecta';
            font-weight: 400;
            line-height: normal;
        }
    }
}

.next {
    background-color: v.$colorBlack;
    dl {
        dt, dd {
            transition-property: color;
        }
        dt {
            font-size: 11px;
            color: #D1C9C9;
            font-family: v.$fontFragmentMono;
        }
        dd {
            margin-top: 12px;
            font-size: 13px;
            font-family: v.$fontSelecta;
            color: v.$colorWhite;
        }
    }
    &.-white {
        background-color: v.$colorWhite;
        dl {
            dt {
                color: v.$colorBlack;
            }
            dd {
                color: v.$colorBlack;
            }
        }
    }

}

.next-post {
    background-color: v.$colorBlack;
    h2 {
        color: v.$colorWhite;
        font-size: 80px;
        @include m.sp {
            font-size: 48px;
        }
    }
    &.-white {
        background-color: v.$colorWhite;
        h2 {
            color: v.$colorBlack;
        }
    }
}

footer {
    display: none !important;
}


body {
    &[data-language="ja"] {
        .description {
            font-size: 17px;
            font-family: v.$fontIBMPlexSansJP;
            line-height: calc(30 / 17);
        }
    }
    &[data-language="en"] {
        .description {
            font-size: 22px;
            font-family: v.$fontSelecta;
            line-height: calc(28 / 22);
        }
    }
}