@use '../../css/common/variables' as v;
@use '../../css/common/mixin' as m;

.profile {
    dl {
        width: 25%;
        dt {
            color: #7A7676;
            font-size: 11px;
            font-family: v.$fontFragmentMono;
            margin-bottom: 12px;
        }
        dd {
            color: v.$colorBlack;
            font-size: 13px;
            font-family: 'Selecta';
            font-weight: 400;
        }
    }
}

.next {
    background-color: v.$colorBlack;
    dl {
        dt {
            font-size: 11px;
            color: #D1C9C9;
            font-family: v.$fontFragmentMono;
        }
        dd {
            margin-top: 12px;
            font-size: 13px;
            font-family: v.$fontSelecta;
            color: v.$colorWhite;
        }
    }
}